@model DuAn.Models.DbModel.RoleAccount

<div class="modal-dialog modal-dialog-centered modal-xl" style="width:600px !important" role="document">
    <div class="modal-content">
        <!--Card header-->
        <div class="modal-header">
            @if (Model.ID == 0)
            {
                <h5 class="modal-title">Create new role :</h5>
            }
            else
            {
                <h5 class="modal-title">Edit role :</h5>
            }
        </div>
        <div id="idRoleAccount" data-id="@Model.ID" hidden></div>
        <!--Card body-->
        <div class="modal-body">
            <!-- Tab Menu -->
            <ul class="nav nav-tabs nav-boldest">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#kt_tab_pane_1">Role</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#kt_tab_pane_2">Permissions</a>
                </li>
            </ul>
            <!--begin::Content-->
            <div class="tab-content mt-5" id="myTabContent">
                <div class="tab-pane fade show active" id="kt_tab_pane_1" role="tabpanel" aria-labelledby="kt_tab_pane_2">
                    <div class="form-group">
                        <label>Role name :</label>
                        <input type="text" id="role-name" class="form-control" placeholder="Enter role name" value="@Model.Role"
                               onblur='CheckRolename()' onchange='hideError("errorRolename")' onkeypress='hideError("errorRolename")' />
                        <span class="form-text text-muted">You can change name of role here.</span>
                        <div class="errorRegistrationRole" id="errorRolename" style="color:red"></div>
                    </div>
                </div>
                <script type="text/javascript">
                    var currentRole = document.getElementById("role-name").value;
                    function CheckRolename() {
                        var rolename = document.getElementById("role-name").value;
                        if (rolename != currentRole) {
                            $.ajax({
                                type: "POST",
                                dataType: 'json',
                                data: {
                                    rolename: rolename
                                },
                                url: '@Url.Action("CheckRolename", "RoleAccount")',
                                success: function (response) {
                                    if (response == "Fail") {
                                        document.getElementById("errorRolename").innerText = "Rolename has been existed !!!";
                                    } else {
                                        document.getElementById("errorRolename").innerText = "";
                                    }
                                },
                                error: function (response) {
                                    alert("Can't get result !!!");
                                }
                            });
                        }
                    };
                </script>
                <div class="tab-pane fade" id="kt_tab_pane_2" role="tabpane2" aria-labelledby="kt_tab_pane_2">
                    <form class="form">
                        <div class="card-body">
                            <div id="jstree"></div>
                        </div>
                    </form>
                </div>
            </div>
            <!--end::Content-->
        </div>
        <!--end::card body-->
        <!--begin::footer-->
        <div class="modal-footer">
            @*<label id="resultRole" class="label label-lg font-weight-bold label-light-info label-inline"></label>*@
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary font-weight-bold" id="submitRole">Lưu thay đổi</button>
        </div>
        <!--End::footer-->
    </div>
</div>

<script src="~/Scripts/Role/PermissionTree.js"></script>