
<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
    <div class="modal-content card card-custom gutter-b example example-compact">
        <!--Card header-->
        <div class="card-header">

        </div>
        <!--begin::Form-->
        <form class="form">
            <div class="card-body">
                <div id="jstree"></div>
            </div>
        </form>
        <!--end::Form-->
        <div class="modal-footer">
            <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Đóng</button>
            <button type="button" class="btn btn-primary font-weight-bold" data-dismiss="modal" id="submit">Lưu thay đổi</button>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var roleId = @ViewBag.RoleID;
        $.ajax({
            url: "@Url.Action("GetPermissionTree", "RoleAccount")",
            type: 'POST',
            data: {
                roleID: roleId
            },
            success: function (data) {
                $('#jstree').jstree({
                    plugins: ['checkbox'],
                    'core': {
                        'data': data
                    },
                }).on('ready.jstree', function () {
                    $('#jstree').jstree("open_all");
                });
            },
            error: function (data) {
                alert("Error load permission");
            }
        });
    });
    $('#submit').on('click', function () {
        var roleId = @ViewBag.RoleID;

        //get all roleid chosen
        var checked_ids = [];
        var selectedNodes = $('#jstree').jstree("get_selected", true);
        $.each(selectedNodes, function () {
            checked_ids.push(this.id);
        });
        //alert(checked_ids[0]);

        $.ajax({
            url: "@Url.Action("UpdateRole", "RoleAccount")",
            type: 'POST',
            data: {
                RoleID: roleId, 
                listPermissionID: checked_ids
            },
            success: function (data) {
                if (!data) {
                    alert("Error update role ");
                }
            },
            error: function (data) {
                alert("Error load udapte role");
            }
        });
    });
</script>