
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
/DuAn/Controllers/AdminController.cs~RF4b1ccf3.TMP
/DuAn/Controllers/HomeController.cs~RFdce53b8.TMP
/DuAn/DBContext.cs~RF82eea85.TMP
/.vs/DuAn/v16/.suo
