
<div class="card-body">
    <!--begin: Datatable-->
    <table id="my_datatable_account" style="border-bottom: none" class="table table-bordered table-hover table-checkable table-striped dataTable no-footer dtr-inline display">
        <thead style="border-bottom:none">
            <tr style=" align-content: center !important;">
                <th @*style="width: 40px;"*@><b>ID</b></th>
                <th @*style="width: 200px"*@><b>Username</b></th>
                <th @*style="width: 200px"*@><b>Fullname</b></th>
                <th @*style="width: 150px"*@><b>Phone</b></th>
                <th @*style="width: 200px"*@><b>Email</b></th>
                <th @*style="width: 150px"*@><b>Role</b></th>
                <th style="width: 120px"><b>Actions</b></th>
            </tr>
        </thead>
    </table>
    <!--end: Datatable-->
</div>
<!--begin::Example-->
<!-- Modal-->
<div class="modal fade modal-edit-account" id="formEditAccount" tabindex="-1" role="dialog" aria-labelledby="formEditAccount" aria-hidden="true"></div>
<!-- start: Delete Coupon Modal -->
<div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">
                    &times;
                </button>
                <h3 class="modal-title" id="myModalLabel">Warning!</h3>

            </div>
            <div class="modal-body">
                <h4>Are you sure you want to DELETE?</h4>

            </div>
            <!--/modal-body-collapse -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" id="btnDelteYes" data-dismiss="modal">Yes</button>
            </div>
            <!--/modal-footer-collapse -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script src="~/Scripts/Account/TableDataUser.js"></script>