
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
    <form action="/file-upload" class="dropzone">
        <div class="fallback">
            <input name="file" type="file" multiple />
        </div>
    </form>
</div>