<!--begin::Entry-->
<!--begin::Card-->
<div class="col-lg-6">
   <div class="card card-custom">
      <!--begin::Header-->
      <div class="card-header flex-wrap border-0 pt-6 pb-0">
         <div class="card-title">
            <h3 class="card-label">
               Cập nhật Sản lượng dự kiến
               <span class="d-block text-muted pt-2 font-size-sm">Thêm, sửa, xóa sản lượng dự kiến nhà máy</span>
            </h3>
         </div>
         <div class="card-toolbar">
            <a href="javascript:;" class="btn btn-primary btn-hover-primary font-weight-bolder ml-2" id="new_sldk">
               <span class="svg-icon svg-icon-md">
                  <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flatten.svg-->
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                     <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect x="0" y="0" width="24" height="24" />
                        <circle fill="#000000" cx="9" cy="15" r="6" />
                        <path d="M8.8012943,7.00241953 C9.83837775,5.20768121 11.7781543,4 14,4 C17.3137085,4 20,6.6862915 20,10 C20,12.2218457 18.7923188,14.1616223 16.9975805,15.1987057 C16.9991904,15.1326658 17,15.0664274 17,15 C17,10.581722 13.418278,7 9,7 C8.93357256,7 8.86733422,7.00080962 8.8012943,7.00241953 Z" fill="#000000" opacity="0.3" />
                     </g>
                  </svg>
                  <!--end::Svg Icon-->
               </span>Thêm mới
            </a>
            <!--end::Button-->
         </div>
      </div>

      <div class="m--space-20"></div>
      <div class="dropdown-divider"></div>

      <div class="row m-1 pt-3" style="justify-content:center">
         <div class="col-3 row">
            <label class="col-form-label">Loại:</label>
            <div class="col-lg-9 col-xl-9">
               <select class="form-control m-select2" id="loai_sldk" name="loai_sldk">
                  <option value="1" selected>Tháng</option>
                  <option value="2">Năm</option>
               </select>
            </div>
         </div>
         <div class="col-3 row" id="div_nam">
            <label class="col-form-label">Năm:</label>
            <div class="col-lg-9 col-xl-9">
               @{
                  var year_max = DateTime.Now.Year + 10;
                  var year_min = DateTime.Now.Year - 10;
               }
               <input type="number" max="@year_max" min="@year_min" id="sldk_nam" class="form-control form-control-solid" value="@DateTime.Now.Year" />
            </div>
         </div>
         <div class="col-3 row" id="div_thang">
            <label class="col-form-label">Tháng:</label>
            <div class="col-lg-9 col-xl-9">
               <input class="form-control form-control-solid" type="number" id="sldk_thang" max="12" min="1" value="@DateTime.Now.Month" />
            </div>
         </div>
         <div class="col-2 order-2 order-xl-1 m--align-right" style="bottom:15%;">
            <a href="javascript:;" class="btn btn-primary" id="btn-search-sldk">
               <span>
                  <i class="fa fa-search"></i>
                  <span>
                     Tìm kiếm
                  </span>
               </span>
            </a>
            @*<div class="m-separator m-separator--dashed d-xl-none"></div>*@
         </div>
      </div>

      <!--end::Header-->
      <!--begin::Body-->
      <div id="datatable_sldk_ajax">
      </div>
      <!--end::Body-->
   </div>
</div>
<!--end::Card-->
<!--end::Entry-->
<div class="modal fade modal-edit-sldk" id="formEditSLDK" tabindex="-1" role="dialog" aria-labelledby="formEditSLDK" aria-hidden="true"></div>

<script>

   $(document).ready(function () {

      var getModalSLDK = function (id) {
         $.ajax({
            url: "/Admin/CapNhatSLDKManageModal",
            cache: false,
            data: {
               id: id
            },
            method: 'POST',
            success: function (data) {
               $("#formEditSLDK").html(data);
               $("#formEditSLDK").modal('show');
               $('#formEditSLDK').modal({
                  backdrop: false
               });
               @*if (data.success != true) {
                  showMessage('Không thể truy vấn cơ sở dữ liệu', false)
               } else {
                  $("#formEditSLDK").html(data.data);
                  $("#formEditSLDK").modal('show');
                  $('#formEditSLDK').modal({
                     backdrop: false
                  });
               }*@

            },
            error: function (jqXHR, textStatus, errorThrown) {
               if (jqXHR.status == 401) {
                  showMessage('Bạn không có quyền này', false);
               } else {
                  showMessage('Đã xảy ra lỗi trong quá trình chỉnh sửa/ thêm mới dữ liệu ' + jqXHR.responseText, false);
               }
            }
         })
      }

      $('#loai_sldk').on('change', function () {
         if ($(this).val() == 1) {
            $('#div_thang').prop("disabled", "disabled");
         } else {
            $('#div_thang').removeAttr('disabled');
         }
      });

      var load_datatable_sldk = function () {
         $.ajax({
            url: "/Admin/CapNhatSLDK_Datatable",
            cache: false,
            data: {
               loaiDuKien: $('#loai_sldk').val(),
               thang: $('#sldk_thang').val(),
               nam: $('#sldk_nam').val()
            },
            success: function (data) {
               $("#datatable_sldk_ajax").html(data);
            },
            error: function (jqXHR, textStatus, errorThrown) {
               showMessage('Không thể truy vấn cơ sở dữ liệu ' + jqXHR.responseText, false);
            }
         })
      };


      $('#btn-search-sldk').on('click', function () {
         load_datatable_sldk();
      })

      $('#btn-search-sldk').trigger('click');

      $('#new_sldk').on('click', function () {
         getModalSLDK(0);
      })
      $('#datatable_sldk_ajax').on('click', '.btn-edit-sldk', function () {
         var id = $(this).attr('data-id');
         getModalSLDK(id);
      })
   })

</script>
<!--end::Page Scripts-->
