
@{
   ViewBag.Title = "CapNhatGiaDien";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-1 col-12" style="justify-content: center;">
   <div class="col-lg-12">
      <div class="card card-custom gutter-b" style="height:95%">
         <div class="card-header">
            <div class="card-title">
               <h3 class="card-label"><i class="icon-xl fas fa-dollar-sign text-primary mr-2"></i> Cập nhật giá điện</h3>
            </div>
         </div>
         <!--begin::Form-->
         <form>
            <div class="card-body">
               <div class="row">
                  <div class="col-md-6">
                     <label for="thoiGianBatDau" class="col-form-label ml-1 mr-10">Thời gian bắt đầu</label>
                     <div class="form-group mb-4">
                        <div class="date input-group p-0 shadow-sm" width="100% !important" id="thoiGianBatDauDiv" onmousedown="setStartDate('thoiGianBatDau')">
                           <input type="text" placeholder="Thời gian bắt đầu" class="form-control" id="thoiGianBatDau" readonly="">
                           <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <label for="thoiGianKetThuc" class="col-form-label ml-1 mr-10">Thời gian kết thúc</label>
                     <div class="form-group mb-4">
                        <div class="date input-group p-0 shadow-sm" width="100% !important" id="thoiGianKetThucDiv" onmousedown="setStartDate('thoiGianKetThuc')">
                           <input type="text" placeholder="Thời gian kết thúc" class="form-control" id="thoiGianKetThuc" readonly="">
                           <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="form-group row">
                  <div class="col-12">
                     <label for="giaDien" class="col-form-label ml-1 mr-10">Giá điện</label>
                     <div class="form-group mb-4">
                        <input type="number" placeholder="Việt Nam đồng" class="form-control" id="giaDien">
                     </div>
                  </div>
               </div>
               <p class="btn btn-success btn-block mt-4 col-12" onclick="submitCongThuc()">Cập nhật</p>
            </div>
         </form>
         <!--end::Form-->
      </div>
   </div>
</div>
@section scripts{
   <script>
   var listDirect = ["Cấu Hình", "Cập nhật Công thức tính"];
      $(document).ready(function () {
         capNhatPageDirectory('Cập nhật Công thức tính', listDirect);
        updateCalendar('d', 'thoiGianBatDau');
        updateCalendar('d', 'thoiGianKetThuc');
    });
    function updateCalendar(date_start, date_end, id) {
        $('#' + id).datepicker({
            autoclose: true,
           startDate: date_start,
            clearBtn: true,
           format: "dd/mm/yyyy",
           endDate: date_end
        });
    }
    function setStartDate(id) {

       if (id == 'thoiGianKetThuc') {
          $('#thoiGianKetThuc').datepicker('destroy');
          var dateParts = $('#thoiGianBatDau').val().split("/");
          if (dateParts.length == 1) {
             updateCalendar('d', null, id);
          }
          else {
             updateCalendar(new Date(dateParts[2], dateParts[1] - 1, dateParts[0]), null, id);
          }
       } else {
          $('#thoiGianBatDau').datepicker('destroy');
          var dateParts = $('#thoiGianKetThuc').val().split("/");
          if (dateParts.length == 1) {
             updateCalendar('d', null, id);
          }
          else {
             updateCalendar('d', new Date(dateParts[2], dateParts[1] - 1, dateParts[0]), id);
          }
       }
    }

    function submitCongThuc() {
        var thoiGianBatDau = document.getElementById('thoiGianBatDau').value;
        var thoiGianKetThuc = document.getElementById('thoiGianKetThuc').value;
        var giaDien = document.getElementById('giaDien').value;
        var errorMsg = "";
        if (thoiGianBatDau.length == 0) {
            showMessage("Thời gian bắt đầu không được để trống", false);
            errorMsg += ".";
        }
        if (thoiGianKetThuc.length == 0) {
            showMessage("Thời gian kết thúc không được để trống", false);
            errorMsg += ".";
        }
        if (giaDien.length == 0) {
            showMessage("Giá điện không được để trống", false);
            errorMsg += ".";
        }
        if (errorMsg.length != 0) {
            return;
        }
        $.ajax({
            method:'POST',
            cache: false,
            url: "@Url.Action("InsertGiaDien","Admin")",
            data: { thoiGianBatDau: thoiGianBatDau, thoiGianKetThuc: thoiGianKetThuc, giaDien: giaDien },
            dataType:'json',
           success: function (data) {
              if (data.success) {
                  showMessage("Cập nhật giá điện thành công", true);
              }
              else {
                  showMessage(data.message, false);
              }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                showMessage("Cập nhật giá điện thất bại", false);
            }
        });
    }

   </script>
}