
@{
   ViewBag.Title = "QuanTriNguoiDung";
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row ml-1 col-12" style="justify-content: center;">

   @{Html.RenderAction("ListUser", "Account");}

</div>
@section scripts{
   <script>
      var listDirect = ["Quản trị", "Quản trị Người dùng"];
      $(document).ready(function () {
         capNhatPageDirectory('Quản trị Người dùng', listDirect);
      });
   </script>
}