@model DuAn.Models.DbModel.Account
    <div class="card card-custom card-stretch">
        <!--begin::Header-->
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Thay đổi mật khẩu</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Thay đổi mật khẩu tài khoản</span>
            </div>
            <div class="card-toolbar d-none d-md-block">
                <p onclick="changePassword()" class="btn btn-success mr-2">Lưu thay đổi</p>
            </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <div class="card-body">
            <!--begin::Alert-->
            <!--end::Alert-->
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert">Mật khẩu hiện tại</label>
                <div class="col-lg-9 col-xl-6">
                    <input id="current" type="password" class="form-control form-control-lg form-control-solid mb-2" value="" placeholder="Nhập mật khẩu hiện tại">
                    @*<a href="javascript:;" class="text-sm font-weight-bold">Forgot password ?</a>*@
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert">Mật khẩu mới</label>
                <div class="col-lg-9 col-xl-6">
                    <input id="new" type="password" class="form-control form-control-lg form-control-solid" value="" placeholder="Nhập mật khẩu mới">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label text-alert">Xác nhận mật khẩu</label>
                <div class="col-lg-9 col-xl-6">
                    <input id="retype" type="password" class="form-control form-control-lg form-control-solid" value="" placeholder="Nhập lại mật khẩu mới">
                </div>
            </div>
        </div>
        <!--end::Form-->
        <div class="card-footer d-block d-md-none">
            <div class="card-toolbar">
                <p onclick="changePassword()" class="btn btn-success mr-2">Save Changes</p>
            </div>
        </div>
    </div>

<script>
    function changePassword() {
        var validate = true;
        if ($('#current').val() == '') {
            showMessage('Mật khẩu hiện tại không được để trống', false);
            validate = false;
        }
        if ($('#new').val() == '') {
            showMessage('Mật khẩu mới không được để trống', false);
            validate = false;
        }
        if ($('#retype').val() != $('#new').val()) {
            showMessage('Mật khẩu nhập lại không chính xác', false);
            validate = false;
        }
        if (validate == true) {
            var current = $('#current').val();
            var newP = $('#new').val();
            $.ajax({
                url: "@Url.Action("CheckPassword","Home")",
                type: 'POST',
                data: { pass: current, newPass: newP },
                success: function (data) {
                    if (data == 'success') {
                        showMessage('Đổi mật khẩu thành công', true);
                    }
                    else {
                        showMessage("Tài khoản hoặc mật khẩu không đúng", false);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    showMessage("Đã xảy ra lỗi trong quá trình thay đổi mật khẩu", false)
                }
            });
        }
    }
</script>