@using DuAn.Models.CustomModel;
@model HomeModel
<style>
    .datepicker{
        width:100px;
    }
</style>
<div class="row ml-1 col-12 d-flex justify-content-end">
    <div><p class="btn btn-success mr-4" onclick="exportExcel()">Xuất Excel</p></div>
    <div class="form-group mb-4 mr-4">
        <div class="datepicker date input-group p-0 shadow-sm">
            <input type="text" placeholder="Thời gian hiệu lực" onchange="sendReloadPage(this.value)" class="form-control" id="thoiGianHieuLuc" readonly>
            <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
        </div>
    </div>
</div>
<div class="row ml-1 col-12" id="bodyHomePage">
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="~/Scripts/HomePageScript.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker({
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
        var date = new Date();
        date.setDate(date.getDate() - 1);
        var d = date.toJSON().slice(0, 10)
        var dateParts = d.split("-");
        var strDate = dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0];
        $('#thoiGianHieuLuc').val(strDate);
        reloadPage(strDate,"@Url.Action("homePagePartialView", "Home")");
    });
    function sendReloadPage(strDate) {
        reloadPage(strDate,"@Url.Action("homePagePartialView", "Home")");
    }

    function exportExcel() {
        var dateStr = $("#thoiGianHieuLuc").val();
        window.location = "@Url.Action("exportExcel", "Home")" + "?date=" + dateStr;
    }

    @*function reloadPage(date) {
            $.ajax({
                url: "@Url.Action("reloadPage", "Home")",
                type: 'GET',
                data: { dateStr: date },
                dataType: "json",

                success: function (data) {
                    if (data) {
                        setValue(data.duKienThang, data.duKienNam, data.thucTeThang, data.thucTeNam, data.sanLuongTrongNgay, data.percentFormatThang, data.percentFormatNam, data.numberFormatThang, data.numberFormatNam);
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert(thrownError)
                }
            });
    }*@
</script>
