
<div class="card-body">
    <!--begin: Datatable-->
    <table id="my_datatable_account"style="width:auto;" class="table table-bordered table-hover table-checkable table-striped display">
        <thead>
            <tr style=" align-content: center !important;">
                <th @*style="width: 40px;"*@><b>ID</b></th>
                <th @*style="width: 200px"*@><b>Tên đăng nhập</b></th>
                <th @*style="width: 200px"*@><b>Tên đầy đủ</b></th>
                <th @*style="width: 150px"*@><b>SĐT</b></th>
                <th @*style="width: 200px"*@><b>Email</b></th>
                <th @*style="width: 150px"*@ class="role"><b>Vai trò</b></th>
                <th style="width: 120px"><b>Tác vụ</b></th>
            </tr>
        </thead>
    </table>
    <!--end: Datatable-->
</div>
<!--begin::Example-->
<!-- Modal-->
@RenderPage("~/Views/Shared/_ConfirmDeleteModal.cshtml")
<script src="~/Scripts/Account/TableDataUser.js"></script>