
<div class="modal-dialog modal-dialog-centered modal-xl col-13" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Sản lượng MAX - MIN</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i aria-hidden="true" class="ki ki-close"></i>
            </button>
        </div>
        <div class="modal-body">
            <form class="m-form m-form--fit row" style="justify-content:center">
                <div class="form-group m-form__group col-4">
                    <label>
                        Điểm đo
                    </label>
                    <select class="form-control m-select2 ml-2" style="width:80%" id="select_diemdo">
                        <option value="-1">Tất cả</option>
                        @foreach (var item in ViewBag.listDiemDo)
                        {
                            <option value="@item.ID">@item.TenDiemDo</option>
                        }
                    </select>
                </div>
                <div class="form-group m-form__group col-4 row">
                    <label class="col-form-label">
                        Thời gian
                    </label>
                    <div class="ml-2 datepicker date input-group p-0 shadow-sm">
                        <input type="text" placeholder="Thời gian hiệu lực" onchange="" class="form-control" id="time_csmaxmin" readonly>
                        <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
                    </div>
                </div>
                <div class="col-2 order-2 order-xl-1 m--align-right" style="bottom:15%;">
                    <a href="javascript:;" class="btn btn-primary" id="btn-search">
                        <span>
                            <i class="fa fa-search"></i>
                            <span>
                                Tìm kiếm
                            </span>
                        </span>
                    </a>
                </div>
            </form>
        </div>

        <div id="data" class="ml-2 mr-2"></div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
        <div class="modal fade" id="modalLoader_CSMM" tabindex="-2" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered modal-sm" style="justify-content:center; height:50px !important" role="document">
                <div class="quan_loader"></div>
            </div>
        </div>
    </div>
</div>
<!--modal loader-->

<style>
    .quan_loader {
        border: 16px solid #f3f3f3; /* Light grey */
        border-top: 16px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 45px;
        height: 45px;
        animation: spin 2s linear infinite;
        border-bottom: 16px solid #3498db;
        -webkit-animation: spin 2s linear infinite;
        background: rgba(0,0,0,0);
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>
<script>
    jQuery(document).ready(function () {

        var showModalLoading = function () {
            $('#modalLoader_CSMM').modal('show');
        }
        var hideModalLoading = function () {
            $('#modalLoader_CSMM').modal("hide");
        }

        $('#time_csmaxmin').datepicker({
            autoclose: true,
            //todayBtn: true,
            clearBtn: true,
            format: "dd/mm/yyyy",
            'setDate': new Date()
        });

        var date = new Date();
        date.setDate(date.getDate() - 1);
        $('#time_csmaxmin').datepicker('setDate', date);

        $('#select_diemdo').select2({
            width: 'resolve',
        });

        $('#btn-search').on('click', function () {
            //toggleModalLoading();
            showModalLoading();
            $.ajax({
                url: '/Home/CongSuatMaxMinDatatable',
                type: 'POST',
                data: {
                    idDiemDo: $('#select_diemdo').val(),
                    date: $('#time_csmaxmin').val()
                },
                success: function (data) {
                    //toggleModalLoading();
                    //hideModalLoading();
                    $('#data').html(data);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //toggleModalLoading();
                    //hideModalLoading();
                    showMessage('Lỗi lấy dữ liệu', false);
                },
                complete: function () {
                    setTimeout(hideModalLoading, 500);
                    // Handle the complete event
                    //hideModalLoading();
                }
            })
        });
        $('#btn-search').trigger('click');
    })

</script>