@using DuAn.Models.CustomModel;
@model HomeModel

<div class="row ml-1 col-12 d-flex justify-content-end">
    <div class="form-group mb-4 mr-4">
        <div class="datepicker date input-group p-0 shadow-sm">
            <input type="text" placeholder="Thời gian hiệu lực" onchange="sendReloadPage(this.value)" class="form-control" id="thoiGianHieuLuc" readonly>
            <div class="input-group-append"><span class="input-group-text"><i class="fa fa-calendar"></i></span></div>
        </div>
    </div>
    <div>
        <button class="btn btn-success dropdown-toggle mr-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="javascript:void(0)" class="dropdown-item" onclick="exportExcel()">Trích xuất dữ liệu</a>
            <a href="javascript:void(0)" class="dropdown-item" onclick="clickThongSo()">Thông số vận hành</a>
            <a href="javascript:;" class="dropdown-item" onclick="showMaxMinCongSuat()">Công suất MAX - MIN</a>
        </div>
    </div>
</div>
<div class="row ml-1 col-12" id="bodyHomePage">
</div>

<div class="modal fade" id="modalThongSo" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
</div>
<div class="modal fade" id="modalCongSuatMaxMin" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
</div>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="~/Scripts/HomePageScript.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        capNhatPageDirectory("Bảng điều khiển", ['Trang chủ']);
    });

    function clickThongSo() {
        var url = "@Url.Action("getModalThongSo", "Home")";
        $.ajax({
            cache: false,
            url: url,
            data: {},
            success: function (data) {
                $('#modalThongSo').html(data);
                $('#modalThongSo').modal('show');
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function showMaxMinCongSuat() {
        $.ajax({
            cache: false,
            url: '/Home/CongSuatMaxMinPartialView',
            type:'get',
            success: function (data) {
                $('#modalCongSuatMaxMin').html(data);
                $('#modalCongSuatMaxMin').modal('show');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                debugger;
            }
        });
    }

    function sendReloadPage(strDate) {
        reloadPage(strDate,"@Url.Action("homePagePartialView", "Home")");
    }

    function exportExcel() {
        var dateStr = $("#thoiGianHieuLuc").val();
        window.location = "@Url.Action("exportExcel", "Home")" + "?date=" + dateStr;
    }
    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            clearBtn: true,
            format: "dd/mm/yyyy"
        });
        var date = new Date();
        date.setDate(date.getDate() - 1);
        var d = date.toJSON().slice(0, 10)
        var dateParts = d.split("-");
        var strDate = dateParts[2] + '/' + dateParts[1] + '/' + dateParts[0];
        $('#thoiGianHieuLuc').val(strDate);
        reloadPage(strDate,"@Url.Action("homePagePartialView", "Home")");
    });


</script>
